*{
	font-family: 'Architects Daughter', cursive;
}

body{
	background-image: url(../images.jpg);
	margin: auto;
	text-align: center;
}

a{
	text-decoration: none;
	font-family: 'Teko', sans-serif;
	color: #E32781;
	font-size: 25px;
}

a:hover{
	color: #20B8A5;
	transition:color 0.5s;
}

a:visited{
	color: #6F3450;
}

h1{
	background-color: #FFFFFF;
	font-size: 50px;
	color: #5F8344;
	margin-left: 30%;
	margin-right: 30%;
}

h1:before, h1:after{
	content:url(../flower.jpg);
	width:15px;
	background: #FFFFFF;
	z-index:-1;
}

h1:before{
	left:25%;
}

h1:after{
	right:25%;
}

h2{
	font-family: 'Rochester', cursive;
	background-color: #FFFFFF;
	color: #20B8A5;
	font-size: 30px;
	/*color: #74B741;*/
	margin-left: 27%;
	margin-right: 27%;
}

h3{
	color: #938798;
	background-color: #FFFFFF;
	width: 28%;
	text-align: center;
}

h3:hover{
	background-color: whitesmoke;
	color: #414241;
	width: 38%;
	font-size: 23px;
	transition:background-color 0.6s; 
	transition:width 0.9s;
}

p{
	background-color: whitesmoke;
	margin-right: 100px;
	margin-left: 100px;
}

ul{
	background-color: #F8C6E6;
	margin-left: 37%;
	margin-right: 37%;
	text-align: left;
}

div section div, .explanation, .participation, .benefits, .requirements{
	font-size: 20px;
}

aside div div .select, .archives, .resources{
	text-align: center;
	color: #646264;
	background-color: #FFFFFF;
	margin-left: 37%;
	margin-right: 37%;
}


